.genai-container {
 padding-top: 4%;
  display: flex;
  height: 100vh;
}
  
.prompt-input {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result-display {
  flex: 2;
  padding: 20px;
  overflow-y: auto;
}

.image-upload input {
  margin-top: 10px;
}

.prompt-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prompt-box input {
  padding: 8px;
  font-size: 16px;
}

.prompt-box button {
  padding: 8px;
  font-size: 16px;
  background-color: #d53b3b;
  color: white;
  border: none;
  cursor: pointer;
}

.output {
  margin-top: 20px;
  line-height: 1.6;
}
